@using MeetApp.Web.Controllers;
@model SetupMeetViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <h1 class="display-3">Selected meet</h1>
    </div>
</div>

<div class="container">
    <div class="col-2"></div>
    <div class="col-10">

        <div class="col-xs-12" style="height:50px;"></div>

        <div class="row">
            <h4>Meet state: @Model.State</h4>
        </div>
        <div class="col-xs-12" style="height:10px;"></div>

        <div class="col-xs-12" style="height:10px;"></div>
        @using (Html.BeginForm("OpenMeet", "Meet", FormMethod.Post))
        {
            <div class="row">
                <div class="form-group">
                    <label>Meet name:</label>
                    <input asp-for="@Model.Title" type="text" readonly="readonly" class="form-control" value="@Model.Title" />
                </div>
            </div>

            <div class="col-xs-12" style="height:10px;"></div>

            <div class="row">
                <div class="form-group">
                    <label>Meet invite key:</label>
                    <p class="form-control input-group-text text-black-50">@Model.MeetId</p>
                </div>
            </div>

            <div class="col-xs-12" style="height:10px;"></div>

            @if (Model.MemberState != "Ready")
            {
                <div class="row">
                    <table id="datesTable" class=" table order-list">
                        <thead>
                            <tr>
                                <td>Date start</td>
                                <td>Date end</td>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.DatesList.Count; i++)
                            {
                                <tr>
                                    <td class="col-sm-4">
                                        <div class='input-group date' id='datepicker_start_@i'>
                                            <input asp-for="@Model.DatesList[i].DateStart" type="datetime" class="form-control" value="@Model.DatesList[i].DateStart" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="col-sm-4">
                                        <div class='input-group date' id='datepicker_end_@i'>
                                            <input asp-for="@Model.DatesList[i].DateEnd" type="datetime" class="form-control" value="@Model.DatesList[i].DateEnd" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </td>
                                    @if (i > 0)
                                    {
                                    <td class="col-sm-2">
                                        <button asp-controller="Meet" asp-action="OpenMeet" asp-route-meetId="@Model.MeetId" asp-route-dateId="@i" asp-route-decision="remove date" class="btn btn-warning">Remove date</button>
                                    </td>
                                    }
                                    else
                                    {
                                        <td class="col-sm-2">
                                            <a class="deleteRow"></a>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5" style="text-align: left;">
                                    <button asp-controller="Meet" asp-action="OpenMeet" asp-route-meetId="@Model.MeetId" asp-route-decision="add date" class="btn btn-light">Add row</button>
                                </td>
                            </tr>
                            <tr>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            }
            else
            {
                <div class="row">
                    <table id="datesTable" class=" table order-list">
                        <thead>
                            <tr>
                                <td>Date start</td>
                                <td>Date end</td>
                                <td>Member</td>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.DatesList.Count; i++)
                            {
                                <tr>
                                    <td class="col-sm-4">
                                        <div class='input-group date' id='datepicker_start_@i'>
                                            <input asp-for="@Model.DatesList[i].DateStart" type="datetime" class="form-control" readonly="readonly" value="@Model.DatesList[i].DateStart" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="col-sm-4">
                                        <div class='input-group date' id='datepicker_end_@i'>
                                            <input asp-for="@Model.DatesList[i].DateEnd" type="datetime" class="form-control" readonly="readonly" value="@Model.DatesList[i].DateEnd" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="col-sm-4">
                                        <div class='input-group date' id='datepicker_end_@i'>
                                            <input asp-for="@Model.DatesList[i].MemberLogin" type="datetime" class="form-control" readonly="readonly" value="@Model.DatesList[i].MemberLogin" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

            <div class="col-xs-12" style="height:50px;"></div>

            <div class="row">
                <table id="membersTable" class=" table order-list">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Role</td>
                            <td>State</td>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.MembersList.Count; i++)
                        {
                            <tr>
                                <td class="col-sm-4">
                                    <input asp-for="@Model.MembersList[i].Login" type="datetime" class="form-control" readonly="readonly" value="@Model.MembersList[i].Login" />
                                </td>
                                <td class="col-sm-4">
                                    <input asp-for="@Model.MembersList[i].Role" type="datetime" class="form-control" readonly="readonly" value="@Model.MembersList[i].Role" />
                                </td>
                                <td class="col-sm-4">
                                    <input asp-for="@Model.MembersList[i].State" type="datetime" class="form-control" readonly="readonly" value="@Model.MembersList[i].State" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            @if (Model.MemberState != "Ready")
            {
                <div class="col-xs-12" style="height:50px;"></div>

                <div class="row">
                    <div class="form-group pl-2">
                        <button asp-controller="Meet" asp-action="OpenMeet" asp-route-meetId="@Model.MeetId" asp-route-decision="confirm" class="btn btn-light">Confirm</button>
                    </div>
                </div>
            }

            <div class="col-xs-12" style="height:50px;"></div>

            <div class="row">
                <a asp-controller="Meet" asp-action="MainMenu" class="btn btn-warning">Back to main menu</a>
            </div>
        }
    </div>

    @if (Model.AlertMessage != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@Model.AlertMessage");
            };
        </script>
    }
</div>
