@using MeetApp.Web.Models;
@model SetupMeetViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <h1 class="display-3">Meet settings</h1>
    </div>
</div>

<div class="container">
    <div class="col-2"></div>
    <div class="col-10">

        <div class="col-xs-12" style="height:50px;"></div>


        @if (Model.FixedDate)
        {
            <div class="row">
                <h4>Meet state: @Model.State | fixed date</h4>
            </div>
        }
        else
        {
            <div class="row">
                <h4>Meet state: @Model.State</h4>
            </div>
        }

        <div class="col-xs-12" style="height:25px;"></div>

        @using (Html.BeginForm("SetupMeet", "Meet", FormMethod.Post))
        {
            <input type="hidden" asp-for="@Model.State" value="@Model.State" />
            <input type="hidden" asp-for="@Model.FixedDate" value="@Model.FixedDate" />

            <div class="row">
                <div class="form-group">
                    <label>Meet name:</label>
                    <input asp-for="@Model.Title" type="text" class="form-control" value="@Model.Title" />
                </div>
            </div>

            <div class="col-xs-12" style="height:10px;"></div>

            @if (Model.State != "not match")
            {
                <div class="row">
                    <div class="form-group">
                        <label>Meet invite key:</label>
                        <input asp-for="@Model.MeetId" type="text" class="form-control" readonly="readonly" value="@Model.MeetId" />
                    </div>
                </div>

                <div class="col-xs-12" style="height:10px;"></div>

                <div class="row">
                    <table id="datesTable" class=" table order-list">
                        <thead>
                            <tr>
                                <td>Date start</td>
                                <td>Date end</td>
                                <td>Member</td>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.DatesList.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <div class='input-group date' id='datepicker_start_@i'>
                                            <input asp-for="@Model.DatesList[i].DateStart" type="datetime" class="form-control" readonly="readonly" value="@Model.DatesList[i].DateStart" />
                                            <span class="input-group-text bi bi-calendar2"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class='input-group date' id='datepicker_end_@i'>
                                            <input asp-for="@Model.DatesList[i].DateEnd" type="datetime" class="form-control" readonly="readonly" value="@Model.DatesList[i].DateEnd" />
                                            <span class="input-group-text bi bi-calendar2"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class='input-group date' id='datepicker_end_@i'>
                                            <input asp-for="@Model.DatesList[i].MemberLogin" type="datetime" class="form-control" readonly="readonly" value="@Model.DatesList[i].MemberLogin" />
                                            <span class="input-group-text bi bi-calendar2"></span>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="col-xs-12" style="height:50px;"></div>
            }

            <div class="row">
                <table id="membersTable" class=" table order-list">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Ready</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.MembersList.Count; i++)
                        {
                            <tr>
                                <td>
                                    <input asp-for="@Model.MembersList[i].Login" type="datetime" class="form-control" readonly="readonly" value="@Model.MembersList[i].Login" />
                                </td>
                                <td>
                                    <input asp-for="@Model.MembersList[i].Ready" type="datetime" class="form-control" readonly="readonly" value="@Model.MembersList[i].Ready" />
                                </td>
                                <td>
                                    @if (Model.MembersList[i].IsOwner)
                                    {
                                        <p>Owner</p>
                                    }
                                    else
                                    {
                                        <button asp-controller="Meet" asp-action="KickMemberFromMeet" asp-route-memberId="@Model.MembersList[i].Id" class="btn btn-warning">Kick</button>
                                    }
                                    <input asp-for="@Model.MembersList[i].IsOwner" type="hidden" class="form-control" readonly="readonly" value="@Model.MembersList[i].IsOwner"/>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="col-xs-12" style="height:50px;"></div>

            <div class="row">
                @if (Model.State == "waiting")
                {
                    <div class="form-group pl-2">
                        <button asp-controller="Meet" asp-action="UpdateMeet" class="btn btn-light">Update</button>
                    </div>
                    @if (Model.FixedDate)
                    {
                        <div class="form-group pl-2">
                            <button asp-controller="Meet" asp-action="LaunchMeet" class="btn btn-light">Launch</button>
                        </div>
                    }
                    else
                    {
                        <div class="form-group pl-2">
                            <button asp-controller="Meet" asp-action="CalculateMeet" class="btn btn-light">Calculate</button>
                        </div>
                    }
                }
                <div class="form-group pl-2">
                    <button asp-controller="Meet" asp-action="DeleteMeet" class="btn btn-warning">Delete</button>
                </div>
            </div>

            <div class="col-xs-12" style="height:50px;"></div>

            <div class="row">
                <a asp-controller="Meet" asp-action="Index" class="btn btn-warning">Back to main menu</a>
            </div>
        }
    </div>

    @if (Model.AlertMessage != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@Model.AlertMessage");
            };
        </script>
    }
</div>
